*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #1b1b32;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 20px 0;
}

html, body{
    color: wheat;
    background-color: #1b1b32;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}

.tarea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-cont{
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 80px;
    height: 80px;
}

.lista-princ{
    width: 600px;
    min-height: 500px;
    background-color: #f9f903cf;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}